:root {
  --main: hsl(261, 46%, 40%);
  --main-light: hsl(261, 25%, 58%);
  --dark: hsl(261, 30%, 15%);
  --grey-light: #eee;
  --grey: #666;
  --grey-dark: #333;
}

input {
  padding: 9px;
  border: solid 1px var(--grey-light);
  flex-grow: 2;
  margin: 10px;
}

.compose>form{
  flex-grow: 2;
  display: flex;
}

body {
  color: var(--grey-dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
  background-color: var(--main);
  border: none;
  color: white;
  margin: 10px;
}
button:disabled {
  background-color: var(--main-light);
}

.chat {
  display: flex;
  flex: 1;
  background-color:  var(--grey-light);
  height: 100vh;
}

.chat__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px var(--grey-light);
  margin-left: 10px; 
  margin-right: 10px;
}

#send-location {
  /* align-self:stretch; */
  
}

.chat__sidebar {
  background-color: var(--dark);
  color: white;
;
}
.chat__sidebar h1 {
  background: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  margin:0;
  padding: 25px;
}

.chat__sidebar h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px; 
  margin-left: 25px;
  margin-right: 25px;
}

.chat__sidebar ul{
  list-style-type: none;
  padding-left: 0;
  margin-left: 25px;
}

.chat__sidebar li{
  margin-top: 5px;
  margin-right: 25px;
}

.compose {
  display: flex;
}

.chat__messages {
  flex-grow: 2;
  padding: 15px;
  overflow-y: auto;
}
.message {
  margin-bottom: 16px;
}

.message__name {
font-weight: 600;
font-size: small;
}

.message__meta {
 color: #999;
 font-weight: 100;
}

.message>p:first-child {
  margin-bottom: 5px;
}

.message>p:nth-child(2) {
  margin-top: 5px;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark);
}

.centered-form__box {
  width: 30vw;
  background-color: rgb(238, 238, 238);
  padding: 20px;
}

.centered-form__box>form {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  font-size: small;
}

.centered-form__box>h1 {
  margin-top: 0;
}

.centered-form__box input,.centered-form__box button {
  margin: 10px 0 20px 0;
}